name: Shared REUSE Compliance Check

on:
  workflow_call:
    inputs:
      runs-on:
        description: "The runner to use for the job"
        required: false
        default: "ubuntu-latest"
        type: string

jobs:
  reuse:
    runs-on: ${{ inputs.runs-on}}
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
    - name: REUSE Compliance Check
      uses: fsfe/reuse-action@676e2d560c9a403aa252096d99fcab3e1132b0f5 # v6
