name: Shared Check & Fix License Header

on:
  workflow_call:
    inputs:
      runs-on:
        description: "The runner to use for the job"
        required: false
        default: "ubuntu-latest"
        type: string
      apply_header:
        description: "Apply automatically license header"
        required: false
        default: true
        type: boolean
    secrets:
      pas:
        description: "The token to use for the job"
        required: false

jobs:
  build-license-eye:
    name: Build LicenseEye
    if: inputs.apply_header == false
    runs-on: ${{ inputs.runs-on}}
    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.event.pull_request.head.ref }}

      - name: Check License Header
        uses: apache/skywalking-eyes/header@5c5b974209f0de5d905f37deb69369068ebfc15c # v0.7.0
        with:
            config: .github/licenserc.yaml
            mode: check

  apply-license-header:
    name: Apply LicenceHeader
    if: inputs.apply_header == true
    runs-on: ${{ inputs.runs-on }}
    permissions:
      contents: write

    steps:
    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      with:
        token: ${{ secrets.pas != '' && secrets.pas || secrets.GITHUB_TOKEN }}
        repository: ${{ github.event.pull_request.head.repo.full_name }}
        ref: ${{ github.event.pull_request.head.ref }}

    - name: Check License Header
      uses: apache/skywalking-eyes/header@5c5b974209f0de5d905f37deb69369068ebfc15c # v0.7.0
      with:
          config: .github/licenserc.yaml
          mode: fix

    - name: Apply Changes
      uses: EndBug/add-and-commit@a94899bca583c204427a224a7af87c02f9b325d5 # v9
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
          author_name: License Bot
          author_email: license_bot@github.com
          message: 'Automatic application of license header'
