name: Sync teams

on:
  push:
    branches:
      - main
    paths:
      - teams_config.yaml
  schedule:
    - cron: '0 * * * *'  # Every hour.

jobs:
  sync-teams:
    name: Sync teams
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - uses: ./workflows/team-syncer
        with:
          GH_TOKEN: ${{ secrets.GH_TOKEN_TEAM_SYNCER }}
