name: Sync teams

on:
  push:
    branches:
      - main
    paths:
      - teams_config.yaml
  schedule:
    - cron: '0 * * * *'  # Every hour.

jobs:
  sync-teams:
    name: Sync teams
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: ./workflows/team-syncer
        with:
          GH_TOKEN: ${{ secrets.GH_TOKEN_TEAM_SYNCER }}
